@model Jysk2_0.Paper

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Paper</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Readers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Readers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PricePrMM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PricePrMM)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
